/* Acts as a reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* BACKGROUND IMAGE */

body{
  /*background-image: url("background3.jpg");*/

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* NAV BAR */


h1{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  /* Adjusts the title relative to the top of the page */
  padding-top:3vh;
  padding-left:3vw;
}

.nav-main{
  /* background-color: #0098db; */
  background-image: linear-gradient(to bottom right, #DCDCDC, #E9E9E9);
  color: black;
  width:100vw;
  position:fixed;
  top:0;
  height:15vh;
  display:flex;
  flex-wrap: wrap;
  z-index:1000;
  justify-content: space-between;
  box-shadow: 6px 2px 5px #888;
}

.objectsonlhs{
  display:flex;
  flex-wrap: wrap;
  text-align: none;
}

/* The group 24 text in the nav bar */
.objectsonlhs p{
  color:black;
  font-family: 'Raleway', sans-serif;
  font-size:30px;
  font-weight: bold;
  display:block;
  padding: 0 10px;
  line-height:10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto auto;

}

/*  When the group 24 text is hovered over on the navbar */
.objectsonlhs p:hover, h1:hover{
  text-shadow: 10px 10px 50px #111;
}

.nav-main ul{
  width: fit-content;
  display:flex;
  flex-wrap: wrap;
  margin: 0 0;
  float:right;
  padding-left: 30px;
}

.nav-main ul li{
  float: left;
  display:block;
  padding: auto auto;
  padding-right: 10px;
    /* Removes the gap between links */
  list-style:none;
  margin: auto auto;
  line-height: 30px;
}

.nav-main ul li a{
  text-decoration: none;
  text-transform: uppercase;
  font-family: catamaran;
  font-size: 20px;
  color:black;
  display:block;
  height:100%;
  padding: 0 20px;
}

#blackline{
  border-right: 2px solid black;
}

/* MAIN */

main{
  padding-top:15vh;
  display: block;
  height:85vh;
  background-color: white;
}


.sidebar{
  display:block;
  color:black;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  width:25vw;
  height:100vh;
  float: left;
}

.sidebar div{
  /* The header is 15vh and there are six divs so each get an equal bit of remaining height */
  height: calc(85vh/6);
  /*border-bottom: 2px solid black;
  /*border-right: 2px solid black;*/
  text-align: center;
  box-shadow: 6px 2px 5px #888;
  line-height: calc(85vh/6);
  font-family: "Raleway", sans-serif;
  font-size:22px;
}

/* sidebar is 25 wide, and so being 65 wide means 5vw space each side */
.main-content{
  padding-top:5vh;
  padding-right:10vw;
  display: block;
  float: right;
  width:65vw;
}
