
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>CS261 Group 24</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  {% load static %}
  <!-- Add additional CSS in static file -->
  <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway|Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'inherited.css' %}">
  <!-- Styles the create_trade page -->
  <link rel="stylesheet" href="{% static 'create_trade.css' %}">
  <!-- Styles the daily_report page -->
  <link rel="stylesheet" href="{% static 'daily_report.css' %}">
  <!-- Imports the javascript for the daily report page -->
  <script src="{% static 'daily_report.js' %}"></script>
  <!-- Styles the edit_trade page -->
  <link rel="stylesheet" href="{% static 'edit.css' %}">
  <!-- Imports the javascript for the edit page -->
  <script src="{% static 'edit.js' %}"></script>

  </script>
</head>
<body>

  <!-- This is the navigation bar at the top -->
  <nav class="nav-main">
    <!-- These objects will be floated to the RHS -->
    <div class="objectsonlhs">
      <p onclick="location.href='{% url 'main' %}';" style="cursor: pointer;">Group 24</p>

    </div>
    {% block header %} {% endblock %}
    <ul>
      <li id="blackline"><a  href="{% url 'create_trade' %}">New</a></li>
      <li id="blackline"><a  href="{% url 'edit_trade' %}">Edit </a></li>
      <li><a  href="{% url 'daily_report' %}">Report</a></li>
    </ul>

  </nav>



  <main>

    <!-- <div class="sidebar">
        <div id ="top" onclick="location.href='{% url 'index' %}';" style="cursor: pointer;">Home</div>
        <div onclick="location.href='{% url 'create_trade' %}';" style="cursor: pointer;">Create new trade</div>
        <div onclick="location.href='{% url 'edit_trade' %}';" style="cursor: pointer;">Edit existing trade</div>
        <div onclick="location.href='{% url 'delete_trade' %}';" style="cursor: pointer;">Delete existing trade</div>
        <div onclick="location.href='{% url 'daily_report' %}';" style="cursor: pointer;">Produce daily report</div>
        Removed for styling, as can be accessed through the home page
        <li><a href="{% url 'csv_upload' %}">TEMP: CSV UPLOAD</a></li>
        -->
        <!-- <div onclick="location.href='{% url 'admin:index' %}';" style="cursor: pointer;">Access administrator page</div> -->
    <!-- </div> --> 

    <div class="main-content">
      {% block main %}{% endblock %}
    </div>

  </main>




</body>
</html>
